<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790099188210-bfvkhnt1of0hf68lnn3fdsob7486m3e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790099188210-bfvkhnt1of0hf68lnn3fdsob7486m3e3</string>
	<key>API_KEY</key>
	<string>AIzaSyC2CYeApqoJD3FbGoAuT_YCMICaQhRXpx0</string>
	<key>GCM_SENDER_ID</key>
	<string>790099188210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remotenotificationsample</string>
	<key>PROJECT_ID</key>
	<string>remote-notification-sample-app</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-notification-sample-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790099188210:ios:984e6a549b8e5bc6fb336b</string>
	<key>DATABASE_URL</key>
	<string>https://remote-notification-sample-app.firebaseio.com</string>
</dict>
</plist>